body{
  color: rgb(65, 75, 80);
  margin: 6px;
  background-image: url(./background.jpeg);
}
h1, h2 {
  text-align: center;
}
img {
  display: flex;
  border-radius: 130px;
}
a:hover {
  background-color: pink;
}
